<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjF2p1Hpl0k9JMPHHzja5X2n9nWVe51U0</string>
	<key>GCM_SENDER_ID</key>
	<string>954294037063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldkhatabook.app</string>
	<key>PROJECT_ID</key>
	<string>goldkhatabook</string>
	<key>STORAGE_BUCKET</key>
	<string>goldkhatabook.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954294037063:ios:60b1213f556ffc6b1fdf62</string>
</dict>
</plist>
